
.vs/
Level5ResourceEditor/obj/
Level5ResourceEditor/bin/Debug/*.bin
Level5ResourceEditor/bin/Debug/*.zip
Level5ResourceEditor/bin/Debug/*.rar
Level5ResourceEditor/bin/Debug/*.xml
Level5ResourceEditor/bin/Debug/*.txt
Level5ResourceEditor/bin/Release/*.bin
Level5ResourceEditor/bin/Release/*.zip
Level5ResourceEditor/bin/Release/*.rar
Level5ResourceEditor/bin/Release/*.xml
Level5ResourceEditor/bin/Release/*.txt

packages/
